*{
	font-family: "comic sans ms";
}

.container{
	padding-top: 30px;
	padding-bottom: 40px;
}

.mybtn {
  padding: 8px 17px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  box-shadow: 0 7px #999;
  margin: 10px;
}

.mybtn:hover {background-color: #3e8e41}

.mybtn:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}